.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button {
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#player-controls {
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
	height: 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	ul {
		list-style: none;

		li {
			font-size: ms(1);
		}
	}

	button {
		border: none;
		cursor: pointer;
		float: left;
		height: 30px;
		@include transition(background-color .25s ease);
		width: 30px; 

		&:hover {
			background-color: lighten($mainColor,10%);
		}

		&:active {
			background-color: $mainColor;
		}

		i {
			margin: 0;
		}
	}

	span {
		line-height: 30px;
		margin-left: 15px;
	}
}

#header {
	margin-top: 60px;
	margin-bottom: 60px;

	#logo {
		font-family: "jaf-lapture", serif;
		font-size: 30px;
		margin-bottom: 0;
		text-transform: lowercase;
	}
}

#nav {
	position: fixed;

	ul {
		list-style: none;

		li {
			font-size: ms(1);
		}
	}
}

#tracklist {

	.track {
		margin-bottom: 30px;

		.thumbnail {
			cursor: pointer;
			position: relative;

			iframe {
				width: 100%;
			}

			.aspect-ratio {
				height: 0;
				overflow: hidden;
				padding-bottom: 56.25%;
				
				img {
					margin-top: -9.5%;
					width: 100%;
				}
			}

			.rank {
				background-color: rgba(#ddd, .5);
				color: $txtColor;
				font-size: 24px;
				height: 60px;
				left: 0;
				line-height: 60px;
				position: absolute;
				text-align: center;
				top: 0;
				width: 60px;
			}
		}

		.info {
			border-bottom: 1px solid #ccc;
			padding: 15px;
			width: 100%;

			h5 {
				line-height: 1.5;
				margin-top: 0;
			}

			p {
				margin: 0 0 5px 15px;
			}
		}

		.action {
			border: none;
			background-color: #ddd;
			cursor: pointer;
			display: inline-block;
			height: 60px;
			margin-bottom: 30px;
			opacity: 0;
			
			@include transition(background-color .25s ease);
			width: 60px;

			&:hover {
				background-color: lighten($mainColor,10%);
			}

			&.active, &:active {
				background-color: $mainColor;
			}
		}

		&.playing {

			.thumbnail > div {
				display: none;
			}

			.action {
				opacity: 1;
				@include transition(opacity 1s ease);
			}
		}

		&:hover .action {
			opacity: 1;
			@include transition(opacity 1s ease);
		}


	}
}

#side {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			font-size: ms(1);
			margin-bottom: 10px;
		}
	}

}

/* Small screens */
@media only screen and (max-width: 767px) { 

	#header {
		margin: 0;
		text-align: center;
	}

	.track > div.three, #player-controls {
		display: none;
		opacity: 0;
		top: -100px;
	}

	#nav {
		margin-bottom: 60px;
		position: static;

		li {
			margin-top: 10px;

			a {
				background-color: lighten($mainColor,10%);
				color: $txtColor;
				display: block;
				font-size: 18px;
				line-height: 60px;
				text-align: center;

				&:hover, &:active {
					background-color: $mainColor;
				}
			}
		}
	}

}