.wrap {
	margin: 0 auto;
	width: 1140px;
}

.unstyled {
	list-style: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.arrow-down:after {
	border: solid 5px;
	border-color: #222 transparent transparent transparent;
	content: "";
	display: block;
	height: 0;
	right: 10px;
	position: absolute;
	top: 35px;
	width: 0;
}

.arrow-up:after {
	border: solid 5px;
	border-color: transparent transparent #222 transparent;
	content: "";
	display: block;
	height: 0;
	right: 44px;
	position: absolute;
	top: 18px;
	width: 0;
}

.fixed-push {
	padding-top: 78px;
}

.button {
	width: auto;
	background: #2ba6cb;
	border: none;
	@include box-shadow(none);
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;

	&.alert {
		border: none;
		cursor: default;
	}
}

.button.alert:hover {
	background-color: #c60f13;
}

.button.small {
	font-size: 13px;
}

table input[type="text"] {
	margin: 0;
}

#header {
	background-color: #fff;

	&.fixed {
		border-bottom: 1px solid #ccc;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}

	#list-view {
		cursor: pointer;
		left: -30px;
		opacity: .33;
		padding: 10px;
		position: absolute;
		top: 20px;

		&:hover {
			opacity: 1;
		}
	}

	#logo {
		float: left;
		font-family: "jaf-lapture", serif;
		font-size: 30px;
		line-height: 48px;
		text-transform: lowercase;
	}

	#song-title {
		@include clearfix();
		color: #999;
		float: left;
		font-size: 18px;
		line-height: 48px;
		margin: 14px 0;
		position: relative;
		text-transform: lowercase;
		width: 100%;

		a {
			display: block;
			float: left;
			font-family: "jaf-lapture", serif;
			font-size: 30px;
			font-weight: bold;
			max-width: 80%;
		}

		#track-timer {
			float: left;
			font-size: 18px;
			line-height: 48px;
			width: 20%;

			#track-elapsed {
				margin-left: 10px;
			}
		}

	}

	.nav {
		@include clearfix();
		float: right;
		list-style: none;	
		margin: 14px 0;	
		
		&.inline {

			li {
				float: left;

			}
		}

		a {
			display: block;
			padding: 13px;
		}

	}

	#dropdown-menu {
		background-color: #fff;
		border: 1px solid #ccc;
		position: absolute;

		.nav {
			margin: 0;
		}

		a:hover {
			background-color: #eee;
		}
	}

}

.aspect-ratio {
	height: 0;
	overflow: hidden;
	padding-bottom: 58%;
}

.favorite {
	display: inline-block;

	&.voted a {
		color: red;
	}
}

#intro {
	background-color: #ffff81;
	border-bottom: 1px solid #ccc;
	
	.columns.twelve {
		position: relative;

		h2 {
			font-weight: normal;
			font-size: 16px;
		}

		.close {
			color: $txtColor;
			font-size: 20px; 
			font-weight: bold;
			opacity: .3;
			position: absolute;			
			right: 20px;
			top: 11px;

			&:hover {
				opacity: 1;
			}
		}
	}
}

#track-list {
	position: absolute;
	width: 100%;

	.track {
		border-bottom: 1px solid #ccc;
		@include clearfix();
		cursor: pointer;

		img {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
			margin-top: -20px;
		}

		&:hover {

			img {
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	    		-webkit-filter: grayscale(0%);
			}
		}

		.track-thumbnail {
			float: left;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.track-content {
			float: left;
			padding-top: 37px;
			padding-bottom: 40px;

			.info {

				h2 {
					font-size: 20px;
					margin: 0 0 10px 0;
				}

				p {
					margin: 0 0 5px 0;

					&:last-child {
						margin: 0;
					}
				}
			}

			.actions {
				margin-top: 5px;
			}
		}

		&.playing {
			background-color: lighten($mainColor, 45%);

			img {
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	    		-webkit-filter: grayscale(0%);
			}
		}
	}
}

.player-visible {
	overflow: hidden;
}

#track-player {
	position: fixed;
	top: 77px;
	z-index: 9998;

	#player {
		margin-top: 20px;
		width: 100%;
	}
}

.user-form {
	margin-top: 30px;
}

.button > i {
	margin: 1px 0 0 0;
}