<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Channeltrak</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="//use.typekit.net/nuh3nan.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="channeltrakApp">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
				
	<aside id="navigation" ng-controller="NavigationCtrl">

		<h1><a href="/">Channeltrak</a></h1>
		<nav>
			<a href="#/latest">Latest</a>
			<a href="#/shuffle">Shuffle</a>
			<a href="#/directory">Directory</a>
		</nav>
		<nav>
			<a ng-click="toggleSignInModal()">Sign In</a>
		</nav>

		<div id="overlay" class="ng-hide" ng-click="closeModals()" ng-show="isSignInModalVisible || isJoinModalVisible"></div>
		
		<section id="sign-in" class="modal ng-hide" ng-show="isSignInModalVisible">
			<h2>Sign In</h2>
			<i class="fa fa-times" ng-click="closeModals()"></i>
			<input type="email" placeholder="Email" ng-model="User.email" ng-enter="signIn(User)">
			<input type="password" placeholder="Password" ng-model="User.password" ng-enter="signIn(User)">
			<div class="button-group">
				<button class="button" ng-click="signIn(User)">Submit</button>
				<a href="" ng-click="toggleSignInModal(); toggleJoinModal();">New User?</a>
			</div>
		</section>
		
		<section id="join" class="modal ng-hide" ng-show="isJoinModalVisible">
			<h2>New Account</h2>
			<i class="fa fa-times" ng-click="closeModals()"></i>
			<input type="email" placeholder="Email" ng-model="newUser.email" ng-enter="signIn(newUser)">
			<input type="password" placeholder="Password" ng-model="newUser.password" ng-enter="signIn(newUser)">
			<button class="button" ng-click="signIn(newUser)">Submit</button>
		</section>

	</aside>

	<!-- Add your site or application content here -->
	<div id="view" ng-view=""></div>

	<aside id="playlist" ng-controller="PlaylistCtrl">
		<div id="current" class="media">
			<div class="aspect-ratio">
				<div id="player"></div>
			</div>
		</div>
		<section id="upcoming" ng-if="Playlist.length>0">
			<article class="upcoming-trak" ng-repeat="trak in Playlist track by $index" ng-click="playTrak(trak)">
				<div class="media" ng-click="playTrak(trak); removeFromPlaylist($index)" >
					<div class="aspect-ratio">
						<img ng-src="http://img.youtube.com/vi/{{ trak.youtube_id }}/hqdefault.jpg" alt="{{ trak.title }} on Channeltrak">
					</div>
				</div>
			</article>
		</section>
	</aside>

	<!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/traklist.js"></script>
		<script src="scripts/controllers/trak.js"></script>
		<script src="scripts/controllers/directory.js"></script>
		<script src="scripts/services/channelService.js"></script>
		<script src="scripts/services/trakService.js"></script>
		<script src="scripts/services/userService.js"></script>
		<script src="scripts/directives/trak.js"></script>
		<script src="scripts/controllers/navigation.js"></script>
		<script src="scripts/controllers/favorites.js"></script>
		<script src="scripts/controllers/settings.js"></script>
		<script src="scripts/controllers/playlist.js"></script>
		<script src="scripts/services/playerService.js"></script>
		<!-- endbuild -->

	<script>

		var tag = document.createElement('script');
	    tag.src = "https://www.youtube.com/iframe_api";
	    var firstScriptTag = document.getElementsByTagName('script')[0];
	    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	</script>

</body>
</html>
