<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Channeltrak</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="//use.typekit.net/nuh3nan.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="channeltrakApp" ng-class="{'no-scroll': isPlayerOpen}">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<section id="player" ng-controller="PlayerCtrl" ng-class="{open: isPlayerOpen}">
		<div class="wrap">
			<section id="video">
				<div class="aspect-ratio">
					<div id="iframe"></div>
				</div>
				<h2>{{ playing.title }}</h2>
			</section>
		</div>
		<header id="masthead" ng-controller="MastheadCtrl">
			<div class="wrap">
				<h1><a href="/">Channeltrak</a></h1>
				<nav>
					<a href="#/shuffle">Shuffle</a>
					<a href="#/directory">Directory</a>
				</nav>
				<section id="controls">
					<button class="button icon" ng-click="playPrevious()"><i class="fa fa-step-backward"></i></button>
					<button class="button icon" ng-click="togglePlay()"><i class="fa fa-play" ng-class="{'fa-play': playerStatus == 'paused', 'fa-pause': playerStatus == 'playing'}"></i></button>
					<button class="button icon" ng-click="playNext()"><i class="fa fa-step-forward"></i></button>
					<button class="button icon" ng-click="togglePlayer()"><i class="fa" ng-class="{'fa-expand': !isPlayerOpen, 'fa-compress': isPlayerOpen}"></i></button>
					<button class="button" ng-if="!isAuthed" ng-click="toggleSignInModal()">Sign In</button>
					<button class="button" ng-if="isAuthed" ng-click="toggleUserDropdown()"><i class="fa fa-user"></i></button>
				</section>
			</div>

			<div id="overlay" class="ng-hide" ng-click="closeModals()" ng-show="isSignInModalVisible || isJoinModalVisible"></div>
		
			<section class="modal ng-hide" ng-show="isSignInModalVisible">
				<h2>Sign In</h2>
				<i class="fa fa-times" ng-click="closeModals()"></i>
				<input type="email" name="email" placeholder="Email" ng-model="User.email" ng-enter="signIn(User)">
				<input type="password" name="password" placeholder="Password" ng-model="User.password" ng-enter="signIn(User)">
				<div class="button-group">
					<button class="button" ng-click="signIn(User)">Submit</button>
					<a href="" ng-click="toggleSignInModal(); toggleJoinModal();">New User?</a>
				</div>
			</section>
			
			<section class="modal ng-hide" ng-show="isJoinModalVisible">
				<h2>New Account</h2>
				<i class="fa fa-times" ng-click="closeModals()"></i>
				<input type="email" name="email" placeholder="Email" ng-model="user.email" ng-enter="join(user)">
				<input type="password" name="pasword" placeholder="Password" ng-model="user.password" ng-enter="join(user)">
				<button class="button" ng-click="join(user)">Submit</button>
			</section>

		</header>
	</section>

	<!-- Add your site or application content here -->
	<div id="view" ng-view=""></div>

	<!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/traklist.js"></script>
		<script src="scripts/controllers/trak.js"></script>
		<script src="scripts/controllers/directory.js"></script>
		<script src="scripts/services/channelService.js"></script>
		<script src="scripts/services/trakService.js"></script>
		<script src="scripts/services/userService.js"></script>
		<script src="scripts/controllers/player.js"></script>
		<script src="scripts/controllers/masthead.js"></script>
		<script src="scripts/controllers/favorites.js"></script>
		<script src="scripts/controllers/settings.js"></script>
		<script src="scripts/services/playerService.js"></script>
		<script src="scripts/directives/scrollSpy.js"></script>
		<script src="scripts/vendor/color-thief.js"></script>
<script src="scripts/controllers/signin.js"></script>
<script src="scripts/controllers/join.js"></script>
		<!-- endbuild -->

	<script>

		var tag = document.createElement('script');
	    tag.src = "https://www.youtube.com/iframe_api";
	    var firstScriptTag = document.getElementsByTagName('script')[0];
	    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	</script>

</body>
</html>
