 
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#player-controls {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	height: 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	ul {
		list-style: none;

		li {
			font-size: ms(1);
		}
	}

	button {
		border: none;
		cursor: pointer;
		float: left;
		height: 30px;
		@include transition(background-color .25s ease);
		width: 30px; 

		&:hover {
			background-color: lighten($mainColor,10%);
		}

		&:active {
			background-color: $mainColor;
		}

		i {
			margin: 0;
		}
	}

	span {
		line-height: 30px;
		margin-left: 15px;
	}
}

#header {
	margin-top: 60px;
	margin-bottom: 60px;

	#logo {
		font-family: "jaf-lapture", serif;
		font-size: 30px;
		margin-bottom: 0;
		text-transform: lowercase;
	}
}

#nav {
	position: fixed;

	ul {
		list-style: none;

		li {
			font-size: ms(1);
		}
	}
}

#tracklist {

	.track {
		margin-bottom: 30px;

		.thumbnail {
			cursor: pointer;

			iframe {
				width: 100%;
			}

			div {
				height: 0;
				overflow: hidden;
				padding-bottom: 56.25%;
				
				img {
					margin-top: -9.5%;
					width: 100%;
				}
			}
		}

		.info {
			border-bottom: 1px solid #ccc;
			padding: 15px;
			width: 100%;

			h5 {
				line-height: 1.5;
				margin-top: 0;
			}

			p {
				margin: 0 0 5px 15px;
			}
		}

		.action {
			border: none;
			background-color: #eee;
			cursor: pointer;
			display: inline-block;
			height: 60px;
			margin-bottom: 30px;
			opacity: 0;
			
			@include transition(background-color .25s ease);
			width: 60px;

			&:hover {
				background-color: lighten($mainColor,10%);
			}

			&.active, &:active {
				background-color: $mainColor;
			}
		}

		&.playing {

			.thumbnail > div {
				display: none;
			}

			.action {
				opacity: 1;
				@include transition(opacity 1s ease);
			}
		}

		&:hover .action {
			opacity: 1;
			@include transition(opacity 1s ease);
		}


	}
}

#side {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			font-size: ms(1);
			margin-bottom: 10px;
		}
	}

}