.pulsate {
    -webkit-animation: pulsate .5s infinite alternate;
    -moz-animation: pulsate .5s infinite alternate;
    -animation: pulsate .5s infinite alternate;
}
@-webkit-keyframes pulsate {
    from { 
        @include transform(scale(.75)); 
    }
    to { 
        @include transform(scale(1)); 
    }
}
@-moz-keyframes pulsate {
    from { 
        @include transform(scale(.75)); 
    }
    to { 
        @include transform(scale(1)); 
    }
}
@keyframes pulsate {
    from { 
        @include transform(scale(.75)); 
    }
    to { 
        @include transform(scale(1)); 
    }
}

.fade-in.ng-enter,
.fade-in.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
  opacity:0;
}
.fade-in.ng-leave,
.fade-in.ng-enter.ng-enter-active {
  opacity:1;
}