.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    @include pie-clearfix;
}

.button-group {
    @include pie-clearfix;
}

.wrap {
    @include pie-clearfix;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
    width: 1400px;

    &.mini {
        width: 800px;
    }
}

.trak {
    @include pie-clearfix;
    display: block;
    margin-bottom: 40px;
    position: relative;

    &:hover {
        .actions {
            opacity: 1;
        }
    }

    .media {
        cursor: pointer;
    }

    .caption {
        padding: 20px;
        position: relative;
    }

    .actions {
        @include transition(opacity .25s ease);
        margin-top: 40px;
        opacity: 0;

        .button {
            padding: 0;
            text-align: center;
            width: 35px;
        }
    }

    .title {
        @include truncate;
        font-size: 1.125em;
        line-height: 30px;
        margin-bottom: 5px;

        a {
            color: #333;
        }
    }

    .meta{
        font-size: 14px;
        
        span {
            float: right;
            color: #ccc;
        }
    }

}

#traklist.grid {
    padding-left: 30px;
    padding-right: 30px;

    .trak {
        float: left;
        padding: 0 10px;
        width: 33.333%;

        .media {

        }

        &:hover {

            .caption {
                padding-right: 105px;
            }
        }

        .caption {
            padding-bottom: 5px;
        }

        .actions {
            margin: 0;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .date {
            position: static;
        }

    }

}

#traklist.list {

    .trak {

        .media {
            float: left;
            width: 38.20%;
        }

        .caption {
            float: left;
            width: 61.80%
        }

    }
}

.media {
    overflow: hidden;

    .aspect-ratio {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        &:hover span {
            display: block;
        }

        img {
            margin-top: -9.4%;
            width: 100%;
        }

        iframe {
            height: 100%;
            position: absolute;
            width: 100%;
        }

        span {
            color: #fff;
            display: none;
            font-size: 18px; 
            font-weight: 300;
            height: 40px;
            left: 20px;
            position: absolute;
            top: 20px;
        }
    }
}

.channel {
    display: block;
    float: left;
    padding: 0 20px;
    width: 33.333%;

    &:nth-child(3n) {
        margin-right: 0;
    }

    .title {
        padding: 10px 20px;
    }
}

.modal {
    background-color: #fff;
    border-radius: 2px;
    left: 50%;
    margin-left: -200px;
    padding: 40px;
    position: fixed;
    width: 400px;
    top: 25%;
    z-index: 1020;

    h2 {
        font-family: $header-font-family;
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 20px;
        text-transform: lowercase;
    }

    i {
        color: #ccc;
        cursor: pointer;
        font-size: 20px;
        line-height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
        width: 40px;

        &:hover {
            color: #333;
        }

        &:active {
            color: $primary;
        }
    }

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        font-size: 14px;
        margin-bottom: 20px;
        outline: none;
        padding: 8px 10px;
        width: 100%;

        &:focus {
            border-color: $primary;
        }
    }

    a {
        float: right;
        font-size: 16px;
        line-height: 35px;
    }
}

.upcoming-trak {
    @include transition(opacity .25s ease);
    cursor: pointer;
    margin-top: 40px;
    opacity: .333;

    &:hover {
        opacity: 1;
    }
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 33px;
    outline: none;
    margin: 0;
    padding: 0 20px;

    &:hover,
    &.active {
        background-color: #eee;
    }

    &:active, 
    &:focus {
        border-color: $primary;
    }
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}
 
.animate-enter.animate-enter-active {
    opacity: 1;
}