.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-scroll {
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.button-group {
    @include clearfix;
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    outline: none;
    margin: 0;
    padding: 0 15px;
    text-align: center;

    &.icon {
        padding: 0;
        width: 40px;
    }

    &:hover,
    &.active {
        background-color: #eee;
    }

    &:active, 
    &:focus {
        border-color: $primary;
    }
}

.wrap {
    @include clearfix;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    max-width: 960px;

    &.mini {
        width: 800px;
    }
}

.trak {
    @include transition(opacity .5s ease, background-color .5s ease);
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    opacity: .8;
    padding: 40px;

    &:hover, &.playing {
        background-color: #fff;
        opacity: 1;

        .button {
            display: block;
            margin-top: 10px;
        }
    }
    
    .meta {
        color: #999;
        float: left;
        padding: 20px 40px 20px 0;
        width: 20%;
    }

    .button {
        display: none;
    }

    .media {
        cursor: pointer;
        float: left;
        width: 30%
    }

    .caption {
        float: left;
        padding: 20px 0 20px 40px;
        position: relative;
        width: 50%;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;

        a {
            color: #333;
        }
    }

}

.aspect-ratio {
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;

    &:hover .fa-play {
        display: block;
    }

    img {
        margin-top: -9.4%;
        width: 100%;
    }

    iframe {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    i {
        color: #fff;
        font-size: 24px; 
        font-weight: 300;
        height: 40px;
        left: 20px;
        position: absolute;
        top: 20px;
        width: 20px;

        &.fa-play {
            display: none;
        }
    }
}

.channel {
    display: block;
    float: left;
    margin-top: 40px;
    padding: 0 20px;
    width: 33.333%;

    &:nth-child(3n) {
        margin-right: 0;
    }

    .title {
        padding: 10px 20px;
    }
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
    padding: 8px 10px;
    width: 100%;

    &:focus {
        border-color: $primary;
    }
}


.modal {
    background-color: #fff;
    border-radius: 2px;
    left: 50%;
    margin-left: -200px;
    padding: 40px;
    position: fixed;
    width: 400px;
    top: 25%;
    z-index: 1020;

    h2 {
        font-family: $header-font-family;
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 20px;
        text-transform: lowercase;
    }

    i {
        color: #ccc;
        cursor: pointer;
        font-size: 20px;
        line-height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
        width: 40px;

        &:hover {
            color: #333;
        }

        &:active {
            color: $primary;
        }
    }

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        font-size: 14px;
        margin-bottom: 20px;
        outline: none;
        padding: 8px 10px;
        width: 100%;

        &:focus {
            border-color: $primary;
        }
    }

    a {
        float: right;
        font-size: 16px;
        line-height: 35px;
    }
}
