* { @include box-sizing(border-box); }

body {
    color: #333;
    font-family: $body-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

a {
    color: $primary;
    cursor: pointer;
    text-decoration: none;
}

#holder {
    position: fixed;
    left: -2000px;
}

#player {
    @include transition(background-color 5s linear);
    background-color: #ccc;
    height: 100%;
    left: 0;
    margin-top: 61px;
    overflow: hidden;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 900;

    .scroll-wrap {
        height: 100%;
        overflow-y: auto; 
    }

    &.animated {
        @include transition(background-color 5s linear, margin .5s ease, top .5s ease);
    }

    &.open {
        top: 0;
        margin: 0;
        padding-top: 60px;
    }
}

#video {
    padding: 40px 0 80px;

    .info {
        @include clearfix;
        padding: 20px 0;
    }

    .meta {
        float: left;
        width: 20%;
    }

    .caption {
        float: left;
        width: 80%;
    }

    label {
        @include transition(color 5s linear);
        font-size: 14px;
        opacity: .8;
    }

    p {
        @include transition(color 5s linear);
        margin-bottom: 10px;
    }

    h2 {
        @include transition(color 5s linear);
        @include truncate;
        float: left;
        font-size: 42px;
        font-weight: 300;
        letter-spacing: -1px;
        width: 100%;
    }
}

#masthead {
    background-color: #fff;
    border-left: 0;
    border-right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9000;

    h1 {
        float: left;
        padding-top: 2px;
        width: 20%;

        a {
            color: #333;
            display: block;
            font-family: $header-font-family;
            font-size: 1.75em;
            font-weight: 700;
            line-height: 58px;
            text-decoration: none;
            text-transform: lowercase;
        }
    }
 
    #menu-toggle {
        display: block;
        float: left;
        line-height: 40px;
        margin: 10px 0;
    }
    
    nav {
        @include clearfix;

        a {
            border-radius: 4px;
            color: #666;
            float: left;
            line-height: 40px;
            padding: 0 10px;
            text-decoration: none;

            &:hover {
                background-color: #eee;
            }

            &:active {
                border-color: $primary;
            }
        }

        span {
            float: left;
            font-size: 14px;
            line-height: 40px;
            padding: 0 10px;
        }
    }
}

#ticker {
    @include transition(top .25s ease, height .25s ease, width .25s ease, border-radius .25s ease, left .5s linear, border-color 5s linear);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: fixed;
    top: 55px;
    width: 10px;
    z-index: 9001;

    &:hover {
        border-radius: 10px;
        height: 20px;
        top: 50px;
        width: 20px;

        .info {
            display: block;
        }
    }

    .info {
        display: none;
        left: 15px;
        position: absolute;
        top: 15px;
        width: 1000px;
    }

    span {
        font-size: 14px;
    }
}

#subnav {
    @include clearfix;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0;

    a {
        border-radius: 4px;
        color: #666;
        float: left;
        font-size: 14px;
        line-height: 40px;
        padding: 0 10px;
        text-decoration: none;

        &:hover {
            background-color: #eee;
        }

        &:active {
            border-color: $primary;
        }
    }
}

#controls {
    @include clearfix;
    float: right;

    .button {
        border: 1px solid transparent;
        float: left;
        margin: 10px 10px 10px 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

#overlay {
    @include transition(all .5s ease);
    background-color: rgba(255,255,255,.95);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
}

#search {
    left: 50%;
    padding: 0 20px;
    position: fixed;
    margin-left: -480px;
    width: 960px;
    top: 25%;
    z-index: 1020;

    input {
        background-color: transparent;
        border: 0;
        font-family: $body-font-family;
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -1px;
        margin: 0 0 10px;
        outline: none;
        padding: 0;
        width: 100%;
    }

    p {
        color: #999;
    }
}

#traklist,
#directory {
    padding: 61px 0 120px;

    &.menuOpen {
        padding-top: 123px;
    }
}

#directory {
    > .wrap {
        max-width: 1000px;
    }
}

#sign-in,
#join,
#submit {
    @extend .modal;
    border: 0;
    margin: 80px auto 0;
    padding-top: 61px;
    position: static;
}

#no-results {
    text-align: center;

    h2 {
        font-size: 32px;
        margin: 80px 0 10px;
    }

    p {
        font-size: 18px;
    }
}

#load-more {
    @include transition(width .5s ease);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 38px;
    line-height: 38px;
    margin: 80px auto 0;
    outline: none;
    padding: 0;
    text-align: center;
    width: 200px;

    &:hover {
        border-color: $primary;
        color: $primary;
    }

    &.loading {
        width: 40px;
    }
}

#no-more {
    color: #999;
    margin: 80px auto 0;
    text-align: center;
}

#trak {
    padding: 101px 0 120px;
}