@media only screen and (max-width: 1025px) { 

	#main .song .actions {
		opacity: 1;
	}

}


@media only screen and (max-width: 767px) { 

	.hide-desktop {
		display: block !important;
	}

	#side #site-nav.hide-mobile, #side #account-nav.hide-mobile {
		display: none;
	}

	#side {
		position: static;

		#logo {
			padding-bottom: 0;
		}
	}

	#main .song .actions {
		opacity: 1;
	}

	#footer, #controls {
		display: none;
	}

	#side li a {
		background-color: $primary-color;
		color: #fff;
		display: block;
		padding: 10px;
	}

}

@media only screen and (max-width: 480px) { 

	#main .song .actions {
		display: none;
	}

	#main .song .content, #main .channel .content {
		margin-right: 0;
	}
	
}