<section id="directory">
	<section class="page-header fade-in" ng-if="Channels">
		<div class="wrap">
			<span>Directory</span>
			<h2>Channels</h2>
		</div>
	</section>
	<div class="wrap">
		
		<a class="channel fade-in" ng-href="#/channel/{{ channel.slug }}" ng-repeat="channel in Channels">
			<div class="media">
				<div class="aspect-ratio">
					<img ng-src="http://img.youtube.com/vi/{{ channel.cover_id }}/hqdefault.jpg" alt="{{ channel.title }} on Channeltrak">
				</div>
			</div>
			<div class="caption">
				<h3 class="title">{{ channel.title }}</h3>
			</div>
		</a>

	</div>

</section>