<section id="traks">
	
	<article class="trak" ng-repeat="trak in Traks">
		<div class="thumbnail" playTrak="{{ trak.youtube_id }}">
			<div class="aspect-ratio">
				<img ng-src="http://img.youtube.com/vi/{{ trak.youtube_id }}/hqdefault.jpg" alt="{{ trak.title }} on Channeltrak">
			</div>
		</div>
		<div class="caption">
			<h3 class="title"><a ng-href="/{{ trak.slug }}">{{ trak.title }}</a></h3>
			<p class="meta"><i class="fa fa-user"></i><a href="">{{ trak.channel_id }}</a>  <i class="fa fa-calendar"></i>{{ trak.uploaded | date:'MMM d, yyyy' }}</p>
		</div>
	</article>

	<button id="load-more">Load More</button>

</section>