html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	position: relative;
}

#splash {
	background-color: $primary-color;
	height: 100%;
	padding-top: 10%;
	overflow: hidden;
	width: 100%;

	h1 {
		color: #fff;
		font-family: "jaf-lapture", serif;
		margin-top: 0;
		text-transform: lowercase;
	}

	.flex-image {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;

		img {
			margin-top: -9.4%;
			width: 100%;
		}
	}

}

#side {

	h1 {
		font-family: "jaf-lapture", serif;
		font-size: 30px;
		line-height: 60px; 
		margin: 0;
		padding: 30px 0;
		text-transform: lowercase;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 $column-gutter 0;

		li {
			margin-bottom: $column-gutter/4;

			&.active a {
				color: $body-font-color;
			}

			&#account-name {
				color: $secondary-color;
			}
		}
	}

	#toggle-mobile-nav {

		span {
			margin-right: 10px;
		}
	}

	#site-nav, #account-nav {
		display: block;
	}

	&.scroll {
		position: fixed;
		top: 0px;
	}

}

#main {
	min-height: 100%;
	padding-bottom: 60px;
	padding-top: 25px;
	
	#controls {
		background-color: #fff;
		position: absolute;
		right: 120px;
		top: 40px;
		width: $thumbnail-width + 40px + 40px + 40px;

		#playing-thumbnail {
			border: 1px solid #fff;
			cursor: pointer;
			height: 40px;
			overflow: hidden;
			position: absolute;
			width: $thumbnail-width;
			z-index: 9999;

			img {
				margin-top: -7px;
				width: 100%;
			}

			&:hover {
				border: 1px solid $primary-color;
			}

			&.scroll {
				position: fixed;
				top: 40px;
			}
		}

		button {
			@include control(40px, 16px, #fff);
			float: left;
			position: absolute;
			z-index: 9999;
			
			&#prev {margin-left: $thumbnail-width + 15px}
			&#play {margin-left: $thumbnail-width + 15px + 40px}
			&#next {margin-left: $thumbnail-width + 15px + 40px + 40px}

			.spin {
				font-size: 24px;
			}

			&.scroll {
				position: fixed;
				top: 40px;
			}

		}
	}

	.song, .channel {
		margin-bottom: $column-gutter; 
		position: relative;

		.content {
			margin-right: $column-gutter/2 + emCalc(60px);
		}

		.thumbnail {
			cursor: pointer;
			overflow: hidden;

			.flex-image {
				background-color: #000;
				height: 0;
				padding-bottom: 56.25%;
				position: relative;

				img {
					margin-top: -9.4%;
					width: 100%;
				}

				.rank {
					background-color: #fff;
					font-size: 20px;
					left: 15px;
					line-height: 40px;
					opacity: .75;
					position: absolute;
					text-align: center;
					top: 15px;
					width: 40px;
					z-index: 10;
				}
			}

			.flex-video {
				background-color: #000;
				margin: 0;
				padding-top: 0;
			}
		}

		.caption {
			padding: $column-gutter/2;

			h2 {
				@include ellipsis;
				font-size: 18px;
				margin: 0 0 $column-gutter/4;
			}

			p {
				color: #ccc;
				margin: 0;

				.iconic {
					margin-right: 10px;
				}
			}
		}

		.actions {
			opacity: 0;
			position: absolute;
			right: $column-gutter/2;
			top: 15px;
			width: 60px;

			button {
				@include control(60px, 30px, $secondary-color);
				margin-bottom: emCalc(16px/2);

				.favorite-count {
					display: none;
					font-size: 24px;
					line-height: 60px;
				}

				&.favorited {
					background-color: $success-color;
					
					.iconic {
						display: none;
					}

					.favorite-count {
						display: inline;
					}
				}
			}
		}

		&:hover, &.playing {
			.actions {
				opacity: 1;
			}
		}

		&.playing {
			.flex-image {
				display: none;
			}
		}
	}

	form {

		.button {
			margin: 1em 0 0 0;
		}
	}

	.channel .thumbnail {
		cursor: default;
	}
}

#pagination {	
	display: inline-block;
	margin: 0 auto $column-gutter*2;
	overflow: auto;
	text-align: center;

	b, a {
		background-color: $secondary-color;
		color: $body-font-color;
		display: block;
		float: left;
		margin-right: 10px;
		padding: 10px;
	}

	b, a:hover, a:active {
		background-color: $primary-color;
	}

}

#footer {
	background-color: $secondary-color;
	bottom: 0;
	position: absolute;
	width: 100%;

	.inline-list {
		margin: 0;
		padding: $column-gutter/2 0;

		a {
			color: #fff;
		}
	}
}

table {

	input[type="text"] {
		margin: 0;
	}

	button {
		margin: 0;
	}
}