* { @include box-sizing(border-box); }

html, body {
	background-color: $ultra-light-gray;
}

body {
	background-color: $ultra-light-gray;
	color: $gray;
	font-family: "jaf-facitweb", sans-serif;
	font-size: 1em;
}

a {
	color: $primary-color;
	text-decoration: none;
	@include transition(color .3s ease);

	&:hover, &:focus {
		color: darken($primary-color, 10%);
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

#page {
	@include clearfix();
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	width: 1250px;
}

.inner {
	background-color: #fff;
	@include clearfix();
	margin: 0 0 40px 250px;
	padding: 40px;
	width: 750px;

	.inline {
		margin: 0;
	}
}

#nav {
	position: fixed;
	top: 20px;
}

#footer {
	background-color: #fff;
	@include clearfix();
	margin: 0 0 40px 250px;
	padding: 40px;
	width: 750px;

	.inline {
		margin: 0;
	}
}

#logo {
	font-family: "jaf-lapture", serif;
	font-size: 30px;
	line-height: 60px; 
	margin: 0;
	padding: 10px 0;
	text-transform: lowercase;
}

.menu {
	list-style: none;
	margin: 0 0 40px;
	padding: 0;

	li {
		a {
			color: $gray;
			display: block;
			padding: 5px;

			&:hover {
				background-color: #e0e0e0;
				//color: $gray;
				@include transition(background-color .3s ease, color .3s ease);
			} 

			&.active {
				background-color: #fff;
				color: $gray;
				cursor: default;
			}
		}

		&#account-name {
			color: $light-gray;
			padding: 5px;
		}
	}
}

#info {
	background-color: #fff;
	margin: 40px 0 40px 250px;
	padding: 40px;
	width: 750px;
}

#page-title {
	line-height: 30px;
	margin: 0;
}

#page-subtitle {
	color: $light-gray;
	font-size: 16px;
	font-weight: normal;
	margin: 0;

	span {
		margin-right: 20px;
	}
}

.page-info {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.inline {
	@include clearfix();
	list-style: none;
	margin-bottom: 0;
	padding: 0;

	li {
		float: left;
		margin-right: 20px;
	}

	li:last-child {
		margin: 0;
	}
}

#total-favorites {
	margin-right: 40px;
}

#playlist, #main {
	background-color: #fff;
	margin: 0 0 40px 250px;
	min-height: 100%;
	overflow: auto;
	padding: 40px 0;
	position: relative;
	width: 750px;
}

#pagination {
	background-color: #fff;
	margin: 0 0 40px 250px;
	width: 750px;
}

#load-more {
	font-size: 20px;
	padding: 20px 40px;
}

#controls {
	position: absolute;
	right: 40px;
	top: 0px;
	width: $thumbnail-width + 40px + 40px + 40px;

	button {
		@include control(40px, 16px, $secondary-color);
		float: left;
		position: absolute;
		z-index: 9999;
		
		&#prev {
			margin-left: $thumbnail-width
		}

		&#play {
			font-size: 14px;
			margin-left: $thumbnail-width + 40px
		}
		&#next {
			margin-left: $thumbnail-width + 40px + 40px
		}
	}

	&.sticky {
		button, #playing-thumbnail {
			position: fixed;
			top: 40px;
		}
	}
}

#playing-thumbnail {
	border: 2px solid $secondary-color;
	cursor: pointer;
	height: 40px;
	overflow: hidden;
	position: absolute;
	@include transition(opacity .3s ease);
	width: $thumbnail-width;
	z-index: 9999;

	img {
		margin-top: -7px;
		width: 100%;
	}

	&:hover {
		border-color: $primary-color;
	}
}

.song {
	margin-bottom: 60px; 
	padding: 0 40px;
	position: relative;

	&:hover, &.playing {
		.actions {
			right: 40px;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.playing {

		.flex-image {
			display: none;
		}
	}
}

.thumbnail {
	cursor: pointer;
	overflow: hidden;
}

.flex-media {
	background-color: #000;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	z-index: 10;

	img {
		margin-top: -9.4%;
		width: 100%;
	}

	iframe {
		border: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.rank {
	background-color: #fff;
	font-size: 20px;
	left: 15px;
	line-height: 40px;
	opacity: .75;
	position: absolute;
	text-align: center;
	top: 15px;
	width: 40px;
	z-index: 10;
}

.caption {
	padding: 15px;

	h2 {
		color: $primary-color;
		@include ellipsis;
		font-size: 18px;
		margin: 0 0 10px;
		@include transition(color .3s ease);

		&:hover, &:focus {
			color: darken($primary-color, 10%);
		}
	}

	p {
		color: $light-gray;
		margin: 0 0 10px 0;

		>span {
			margin-right: 10px;
		}
	}
}

.actions {
	//opacity: 0;
	position: absolute;
	right: 80px;
	top: 0px;
	@include transition(all .5s ease);
	width: 0px;
	z-index: 1;

	button {
		@include control(40px, 18px, $secondary-color);
		margin-bottom: emCalc(16px/2);

		.favorite-count {
			display: none;
			font-size: 18px;
			line-height: 40px;
		}

		&.favorited {
			background-color: $success-color;
			
			.icon-heart {
				display: none;
			}

			.favorite-count {
				display: inline;
			}
		}
	}
}

// SINGLE 

#single {
	background-color: #fff;
	margin: 40px 0 40px 250px;
	min-height: 100%;
	overflow: auto;
	padding: 40px 0;
	position: relative;
	width: 1000px;

	.actions {
		right: 40px;
	}
}

// DIRECTORY

#directory {
	@include clearfix();
	margin: 0 0 40px 230px;
	width: 770px;
}

.channel {
	background-color: #fff;
	display: block;
	float: left;
	margin:0 0 20px 20px;
	width: 236px;

	h2 {
		color: $gray;
		font-size: 16px;
		margin: 0;
		min-height: 64px;
		padding: 10px;
	}

	img {
		width: 100%;
	}

	&:hover {
		background-color: $primary-color;
		@include transition(background-color .3s ease, color .3s ease);

		h2 {
			color: #fff;
		}
	}
}

// LOGIN, REGISTER, SETTINGS
#login, #join, #submit {
	border-right: 1px solid $light-gray;
	float: left;
}

.settings {
	background-color: #fff;
	margin: 0 0 40px 250px;
	min-height: 100%;
	overflow: auto;
	padding: 40px 0;
	position: relative;
	width: 750px;
}

.button {
	background-color: $primary-color;
	border: none;
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 10px;
	text-align: center;
	@include transition(background-color .3s ease);
	width: 100%;

	&:hover {
		background-color: darken($primary-color, 10%);
	}
}

.form {
	padding: 0 40px; 
	width: 375px;

	input[type="submit"] {
		font-size: 16px;
		margin-top: 30px;
	}
}

.form-side {
	float: left;
	padding: 0 40px;
	width: 375px;

	li {
		margin-bottom: 5px;
	}
}

input {
	background-color: #fff;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;

	&.error {
		border: 1px solid red;
		margin-bottom: 0;
	}
}

label {
	display: block;
	margin-bottom: 5px;

	&.error {
		color: red;
		font-size: 13px;
		margin-bottom: 10px;
	}
}

#delete-account {
	padding: 40px;

	.button {
		background-color: red;

		&:hover {
			background-color: darken(red, 10%);
		}
	}
}

